<h2>Hello Ngx Ourpalm Table</h2>
<div class="container">
    <button (click)="changeOptions()">setOptions</button>
    <button (click)="setPageData()">setPageData</button>

    <div class="table-responsive">
        <ourpalm-table [table]="table">
            <ourpalm-table-column [column]="{header: '全选', field: 'checkAll', checkbox: true}"></ourpalm-table-column>
            <ourpalm-table-column [column]="{header: '序号', field: 'number', rownumbers: true}"></ourpalm-table-column>
            <ourpalm-table-column [column]="{header: '姓名', field: 'name', sort: true}">
                <ng-template let-data="$row">
                    {{data.name}}
                </ng-template>
            </ourpalm-table-column>
            <ourpalm-table-column [column]="{header: '年龄', field: 'age'}">
                <ng-template let-row="$row">
                    {{row.age}}
                </ng-template>
            </ourpalm-table-column>
        </ourpalm-table>
    </div>

    <div class="table-responsive">
        <ourpalm-table [table]="table2"></ourpalm-table>
    </div>
</div>